main {
    background-color: #19222ccb;

    /* background-color: rgb(69, 69, 69); */
}

#mainContain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0.5em 0;

    font-size: 4em;
    font-weight: 800;

    /*! Color de letra  */
    /* background: -webkit-linear-gradient( #ffffff, rgb(188, 188, 188)); */
    background: -webkit-linear-gradient( #4203ff, rgb(0, 255, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: flex;
    flex-direction: row;
}

h2 {
    color:aliceblue;

    display: flex;
    justify-content: center;
}

.tecnology{
    display: flex;
    flex-flow: row wrap;
}

.tecnologyReverse {
    display: flex;
    flex-flow: row-reverse wrap;
}

.boxColor {
    margin: 2em 1em;
    width: 60%;
    color: aliceblue;
    background-color: rgba(0,0,0, 0.8);
    justify-content: space-between;
    
    border-radius: 0.5em;
}

.tecnology > img,
.tecnologyReverse > img {
    padding: 2em;
    width: 23em;
    border-radius: 0.5em;

}

.tecnoDescryption {
    margin: 2em 1em;
    width: 30em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tecnoDescryption > h2 {
    font-weight: 800;
    font-size: 2em;
    background: -webkit-linear-gradient(45deg,  #4203ff, rgb(0, 255, 247) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#imagenMysql{
    margin-top: 2.5em;
    height: 15em;
}

#iconoWindow {
    width: 15em;
}

.tecnoDescryption > p {
    font-size: 1.5em;
}

.logoIcono{
    width: 9em;
    margin: 1em;
}

.logoIconoCuadrado {
    width: 6em;

}

#titleCooming {
    background: -webkit-linear-gradient( #4203ff, rgb(0, 255, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.cooming {
    display: flex;
    width: 60%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.boxColumn {
    width: 45%;
    height: 20em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    h1 {
        margin: 0.5em 0;
        padding: 1em;
    
        width: 17em;
        font-size: 1.5em;
        font-weight: 600;
    

        background: -webkit-linear-gradient( #4203ff, rgb(0, 255, 247));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
       
    }
    
    h2 {
        color:aliceblue;
        
        display: flex;
        justify-content: center;
    }

    #mainContain > h2{
        padding: 0 1em;
        font-size: 1em;
    }
    
    .tecnology{
        display: flex;
        flex-flow: column wrap;
    }
    
    .tecnologyReverse {
        display: flex;
        flex-flow: column wrap;
    }
    
    .boxColor {
        width: 100%;
        color: aliceblue;
        background-color: rgba(0,0,0, 0.2);
        align-items: center;
        
        border-radius: 0.5em;
    }
    
    .tecnology > img,
    .tecnologyReverse > img {
        min-width: 15em;
        border-radius: 0.5em;
    
    }
    
    .tecnoDescryption {
        margin: 2em 1em;
        width: 80%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tecnoDescryption > h2 {
        font-size: 1.5em;
    }
    
    .tecnoDescryption > p {
        font-size: 1em;
    }
    
    .logoIcono{
        width: 9em;
        margin: 1em;
    }
    
    .logoIconoCuadrado {
        width: 6em;
        margin: 1em;
    
    }

    .cooming {
        width: 80%;
    }
}